body {
  text-align: center;
}

/*"order-alphabetical": false,*/

.modal-content {
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  border: 13px ridge #000000;
  background-color: #fff;
  position: fixed;
  top: 325px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 505px;
  height: 606px;
}

.modal-message {
  font-size: 300%;
  margin: auto;
  position: relative;
  top: 303px;
  width: 50%;
}

/* The Close Button */

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  text-decoration: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 505px;
  margin: 0 auto;
}

.Level {
  width: 50%;
  text-align: center;
}

.myTime {
  width: 50%;
  text-align: center;
}

button {
  background: rgba(210, 255, 82, 1);
  background: -moz-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(171, 241, 72, 1) 38%, rgba(145, 232, 66, 1) 63%, rgba(145, 232, 66, 1) 90%, rgba(145, 232, 66, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210, 255, 82, 1)), color-stop(38%, rgba(171, 241, 72, 1)), color-stop(63%, rgba(145, 232, 66, 1)), color-stop(90%, rgba(145, 232, 66, 1)), color-stop(100%, rgba(145, 232, 66, 1)));
  background: -webkit-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(171, 241, 72, 1) 38%, rgba(145, 232, 66, 1) 63%, rgba(145, 232, 66, 1) 90%, rgba(145, 232, 66, 1) 100%);
  background: -o-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(171, 241, 72, 1) 38%, rgba(145, 232, 66, 1) 63%, rgba(145, 232, 66, 1) 90%, rgba(145, 232, 66, 1) 100%);
  background: -ms-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(171, 241, 72, 1) 38%, rgba(145, 232, 66, 1) 63%, rgba(145, 232, 66, 1) 90%, rgba(145, 232, 66, 1) 100%);
  background: linear-gradient(to right, rgba(210, 255, 82, 1) 0%, rgba(171, 241, 72, 1) 38%, rgba(145, 232, 66, 1) 63%, rgba(145, 232, 66, 1) 90%, rgba(145, 232, 66, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
  font-size: 200%;
  width: 80%;
  height: 80px;
}

.myLevel::before {
  content: 'Level ';
}

.myTime::after {
  content: ' s';
}
