body {
  text-align: center;
}

/*"order-alphabetical": false,*/

.modal-content {
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  border: 13px ridge #000000;
  background-color: #fff;
  position: fixed;
  top: 325px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 505px;
  height: 606px;

}

.modal-message {
  font-size: 300%;
  margin: auto;
  position: relative;
  top: 303px;
  width: 50%;
}

/* The Close Button */

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  text-decoration: none;
  cursor: pointer;
}
